<!DOCTYPE html>
<html>
	<head>
		<title>index.html</title>
		<meta charset="utf-8" name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

		<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
		<!-- <link type="text/css" rel="stylesheet" href="index.css" /> -->
		<link type="text/css" rel="stylesheet" href="example.css" />

		<noscript>
			<div align="center">
				<p style="color:black;background-color:red;font-size:18pt">
					This website requires JavaScript.  Please turn on JavaScript and then <a href="">try it again</a>.
				</p>
			</div>
		</noscript>

		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-aria/angular-aria.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/hammerjs/hammer.js"></script>
		<script src="bower_components/angular-material/angular-material.js"></script>
		<script type="text/javascript" src="index.js"></script>
	</head>
	<body ng-app="ngDemo1">
		<div ng-controller="SideNavCtrl as menu" layout="column" layout-fill>
			<section layout="row" flex>
				<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('md')">
					<!-- <md-toolbar class="md-theme-indigo"> -->
					<md-toolbar style="min-height: 64px; max-height:64px;" layout="column" class="md-theme-indigo">
						<h1 class="md-toolbar-tools">(logo) BMEG</h1>
					</md-toolbar>
					<md-content ng-controller="LeftCtrl" style="overflow: auto;">
						<md-button ng-click="close()" class="md-primary" hide-gt-md>
							Close Sidenav Left
						</md-button>
						<p hide show-gt-md>
							This sidenav is locked open on your device. To go back to the default behavior,
							narrow your display.
						</p>
						<div ng-repeat="section in menu.sections">

							<button class="menu-item menu-title md-menu-item" ng-click="menu.toggleSelectSection(section)" md-highlight="menu.isSectionSelected(section)" md-ink-ripple="#bbb">
								{{section.name}}
							</button>

							<a class="menu-item menu-sub-item md-menu-item" ng-show="menu.isSectionSelected(section)" ng-repeat="page in section.pages" ng-href="#{{page.url}}" md-highlight="menu.isPageSelected(section, page)" md-ink-ripple="#bbb"> <span ng-bind="page | humanizeDoc"></span> </a>

						</div>
						<md-content class="md-padding">
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								This sidenav is locked open on your device. To go back to the default behavior,
								narrow your display.
							</p>
							<p>
								aaaaaaa
							</p>
						</md-content>
					</md-content>
				</md-sidenav>

				<div layout="column" layout-fill tabIndex="-1">

					<md-toolbar style="min-height: 64px; max-height:64px;" layout="column" class="md-theme-indigo">
						<h1 class="md-toolbar-tools">UCSC BioMedical Evidence Graph</h1>
					</md-toolbar>

					<md-content flex class="md-padding">
						<div layout="column" layout-fill layout-align="center center">
							<p>
								The left sidenav will 'lock open' on a medium (>=960px wide) device.
							</p>
							<div>
								<md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
									Toggle left
								</md-button>
							</div>
						</div>
					</md-content>

				</div>
			</section>
		</div>
	</body>
</html>